<div class="horizontal-timeline" id="example">

    <div class="events-content">
        <ol>
            <li class="selected" data-horizontal-timeline='{"date": "1890"}'>
                William James publishes "Principles of Psychology," which lays some groundwork for the study of behavior.
            </li>
            <li data-horizontal-timeline='{"date": "1898"}'>
                Edward Thorndike conducts his experiments on animal learning, leading to the development of his Law of Effect, which
                states that behaviors followed by satisfying consequences are more likely to be repeated.
            </li>
        </ol>
        </div>

</div>
<script>
    $('#example').horizontalTimeline();
</script>