<div class="timeline">
    <div class="timeline__wrap">
        <div class="timeline__items">
            <div class="timeline__item">
                <div class="timeline__content">
                    <h3>1890</h3>
                    <p>William James publishes "Principles of Psychology," which lays some groundwork for the study of
                        behavior.</p>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__content">
                    <h3>1898</h3>
                    <p>Edward Thorndike conducts his experiments on animal learning, leading to the development of his
                        Law of Effect, which
                        states that behaviors followed by satisfying consequences are more likely to be repeated.</p>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__content">
                    <h3>1890</h3>
                    <p>William James publishes "Principles of Psychology," which lays some groundwork for the study of
                        behavior.</p>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__content">
                    <h3>1890</h3>
                    <p>William James publishes "Principles of Psychology," which lays some groundwork for the study of
                        behavior.</p>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__content">
                    <h3>1890</h3>
                    <p>William James publishes "Principles of Psychology," which lays some groundwork for the study of
                        behavior.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
                jQuery('.timeline').timeline();
</script>